body {
    font-family: 'Playfair Display', sans-serif;
    background-color: black;
}
.container {
    max-width:1100px;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/herobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 100px;
    margin:0;
}
header h1 {
font-size: 128px;
font-weight: 700;
line-height: 100px;
letter-spacing: 0em;
text-align: center;
margin: 0;
padding: 0;
}
header h2 {
text-align: center;
padding: 0px;
margin-top: 10px;
font-size: 40px;
}
header h3 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 24px;
letter-spacing: 5px;
text-align: center;
margin-bottom: 0;
padding-top: 100 px;
padding-bottom: 0;
}

header a {
font-family: 'Plus Jakarta Sans', sans-serif;
font-style: normal;
display: inline-block;
font-weight: 700;
font-size: 14px;
margin-top: 32px;
line-height: 18px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;
background-color: white;
text-decoration: none;
color:black;
padding: 16px 32px;
}
main {
    color: white;
}

main h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: 5px;
text-transform: uppercase; 
background-color: #242F36;
margin: 0;
padding-left: 10px;
padding-bottom: 0;
}
main p {
    padding: 10 0 5 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    margin-right: 10px;
    color: rgba(0,0,0,0.7);
}

main h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 5px;
}

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 60px;
}
.grid {
    display:grid;
    grid-gap: 5px;
}
.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: darkgray;
    padding:10px 0;
    max-width: 1100px;
}
.img-responsive {
    max-width: 100%;
    margin: 0 auto;
}
.spotify {
    width:300px;
    height: 300px;
    grid-gap: 5px;
}
.grid-footer{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 60px;
}
.secondary {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/hozier-singing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.card .card-body{
    background-color: white;
    color:black;
    padding: 10px;
    height: 560px;
    border-radius: 20px;
}
main h4{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #272044;
margin:0;
}
main h5 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #272044;
}
main p, pre {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #272044;
}
main .btn {
display: block;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
background: #885DF1;
border-radius: 100px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;
text-decoration: none;
margin-bottom: 0;
}
.text-center {
    text-align: center;
    margin: 0 auto;
}
.section-3 {
    background-color: darkgray;
}
.section-3 h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: 5px;
text-transform: uppercase; 
background-color: #242F36;
margin: 0;
padding-left: 10px;
padding-bottom: 0px;
color: white;
}
.section-3 h2 {
    padding-bottom: 10px;
}
.spotify {
    aspect-ratio: 1/1;
    height: 300px;
}
footer {
    font-family: 'poppins', sans-serif;
     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/footer-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     color: white;

}
footer h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.99px;
}
footer ul {
    padding:0;
}
footer li {
 list-style: none;
 margin: 0;
 padding: 0;
}
footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
}

footer a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
}

@media (max-width: 960px) {
    header{
        padding: 60px 0;
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/herobgsmall.jpg");
    }
    header h1{
        font-size: 64px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
    }
    .grid-two{
        grid-template-columns: 1fr;
        padding: 25px;
    }
    section {
        padding: 10px;
        margin: 10px;
    }
    main {
        width: 300px;
        margin: 0;
    }
    section .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
    .grid-two h2 {
        font-size: 20px;
    }
    .grid-two img {
      max-width: 300px;  
    } 
      .grid p {
        padding: 15 0 15 0;
    }
    main {
        max-width:300px;
    }
    main h2 {
        font-size: 20px;
    }
    main h3 {
        font-size: 12px;
    }
    footer .grid{
        grid-template-columns: 1fr;
    }
}